<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增部門</title>
</head>
<body>
    <h1>新增部門</h1>

    <form action="{{ url_for('add_department') }}" method="POST">
        <table>
            <tbody>
                <tr>
                    <td><label for="name">名稱:</label></td>
                    <td><input type="text" id="name" name="name" required></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">提交</button></td>
                </tr>
            </tbody>
        </table>
    </form>

</body>
</html>
