<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增員工</title>
</head>
<body>
    <h1>新增員工</h1>

    <form action="{{ url_for('add_employee') }}" method="POST">
        <table>
            <tbody>
                <tr>
                    <td><label for="name">姓名:</label></td>
                    <td><input type="text" id="name" name="name" placeholder="必填" required></td>
                </tr>
                <tr>
                    <td><label for="last_working_room">上次上班的診間:</label></td>
                    <td><input type="text" id="last_working_room" name="last_working_room" placeholder="必填" required></td>
                </tr>
                <tr>
                    <td><label for="personal_leave">請假時段(日期/時段~日期/時段,):</label></td>
                    <td><input type="text" id="personal_leave" name="personal_leave" placeholder="ex: 8/上午~9/下午," ></td>
                </tr>
                <tr>
                    <td><label for="hate_period">不想跟的診間時段(診間/星期幾/時段,):</label></td>
                    <td><input type="text" id="hate_period" name="hate_period" placeholder="ex: 87/1/上午,"></td>
                </tr>
                <tr>
                    <td><label for="bind_period">被指定要跟的時段(診間/星期幾/時段,):</label></td>
                    <td><input type="text" id="bind_period" name="bind_period" placeholder="ex: 87/1/上午,"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit">提交</button></td>
                </tr>
            </tbody>
        </table>
    </form>

</body>
</html>
