<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>排班系統</title>
</head>
<body>
    <h1>排班系統</h1>
    <h2>
        <a href="{{ url_for('show_employees_status') }}">員工</a>
        <a href="{{ url_for('show_departments_status') }}">部門</a>
    </h2>
    <table>
        <thead>
            <tr>
                <th>姓名</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for person in data %}
            <tr>
                <td>{{ person.name }}</td>
                <td class="transaction-actions">
                    <a href="{{ url_for('edit', target_class=target_class, id=person.id) }}">Edit</a>
                    <a href="{{ url_for('delete', target_class=target_class, id=person.id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>
        <a href="{{ url_for('add_employee') }}">新增員工</a>
        <a href="{{ url_for('add_department') }}">新增部門</a>
        <a href="{{ url_for('build_schedule') }}">生成班表</a>
    </h2>
    
</body>
</html>