<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='show_status.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{title}}</h1>
        
        <h3>診間</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>診間名稱</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                <tr>
                    <td>{{ department.name }}</td>
                    <td class="transaction-actions">
                        <a href="{{ url_for('edit', target_class=0, id=department.id) }}" class="button">Edit</a>
                        <a href="{{ url_for('delete', target_class=0, id=department.id) }}" class="button">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <h3>員工</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>起始診間</th>
                    <th>備註</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.last_room }}</td>
                    <td>{{ employee.remark }}</td>
                    <td class="transaction-actions">
                        <a href="{{ url_for('edit', target_class=1, id=employee.id) }}" class="button">Edit</a>
                        <a href="{{ url_for('delete', target_class=1, id=employee.id) }}" class="button">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="actions">
            <a href="{{ url_for('add_employee') }}" class="button">新增員工</a>
            <a href="{{ url_for('add_department') }}" class="button">新增部門</a>
            <a href="{{ url_for('build_schedule') }}" class="button">生成班表</a>
        </div>
    </div>
</body>
</html>
