<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>排班系統</title>
</head>
<body>
    <h1>排班系統</h1>
    <h2><a href="{{ url_for('show_employees_status') }}">返回</a></h2>
    <table>
        <thead>
            <tr>
                <th>_____</th>
                {% for day in days %}
                <th>{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                {% for day in employee.state %}
                <td>{{ day }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>