<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="static/show_schedule.css">
</head>
<body>
    <div class="container">
        <h1>{{title}}</h1>
        <h2>員工班表</h2>
        <div class="table-container">
            
            <table>
                <thead>
                    <tr>
                        <th>名字</th>
                        {% for day in days %}
                        <th>{{month}}/{{ day }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <th>
                        {% for employee in employees %}
                        <tr>
                            <td>{{ employee.name }}</td>
                            {% for day in employee.state %}
                            <td>上午:{{ day[0][0] }}<br>下午:{{ day[1][0] }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </th>
                </tbody>
            </table>
        </div>
        <h2>診間班表</h2>
        <div class="table-container">
            
            <table>
                <thead>
                    <tr>
                        <th>名稱</th>
                        {% for day in days %}
                        <th>{{month}}/{{ day }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                    <tr>
                        <td>{{ department.name }}</td>
                        {% for day in department.state %}
                        <td>
                            上午:
                            {% for name in day[0] %}
                            {{ name }},
                            {% endfor %}
                            <br>
                            下午:
                            {% for name in day[1] %}
                            {{ name }},
                            {% endfor %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h3>
            <a href="{{ url_for('show_status') }}" class="button">返回</a>
            <a href="{{ url_for('build_schedule') }}" class="button">切換是否接續上個月</a>
            <a href="{{ url_for('to_excel') }}" class="button">存成excel</a>
        </h3>
    </div>
</body>
</html>