<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <h2><a href="{{ url_for('show_status') }}">返回</a></h2>
    <table>
        <thead>
            <tr>
                <th>_____</th>
                {% for day in days %}
                <th>{{month}}/{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                {% for day in employee.state %}
                <td>上午:{{ day[0][0] }}, 下午:{{ day[1][0] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>