body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Added to handle horizontal overflow */
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

.table-container {
    overflow-x: auto; /* Added to handle horizontal overflow */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    white-space: nowrap; /* Added to prevent text wrapping */
}

th {
    background-color: #333;
    color: #fff;
}

td {
    background-color: #f9f9f9;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

.button:hover {
    background-color: #555;
}

h2 a {
    text-align: left;
}

h3 a {
    text-align: right;
}
